@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
body{background-image: url("../imagenes/fondo.png"); }
.btn-wsp{position: fixed;width: 55px;height: 55px;line-height: 55px;bottom: 30px;right: 30px;border-radius: 50px;text-align: center;}
.redes{display: flex;justify-content: space-around;align-self: center;}
header{display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap; height: 50%}
.titulo{font-family: 'Glass Antiqua', cursive; font-size: 550%;}
nav{display: flex;flex-direction: row;justify-content:space-evenly;flex-wrap: wrap;}
.nav{ background:#32C60D ;cursor: pointer;border: none;padding: 16px 32px;color:#94F9CE ; font-size: 24px;font-weight: bold;position: relative;border-radius: 12px;}
.nav:hover{background: rgb(45,252,74);background: linear-gradient(90deg, rgba(45,252,74,1) 0%, rgba(9,117,121,1) 51%, rgba(8,0,255,1) 100%);}
.navv{text-decoration: none; font-family: 'Playball', cursive;color: black; font-size: 120%}
.filosofia{text-align: center;font-size: 270%; font-family: 'Boogaloo', sans-serif;}
.intro{text-align: justify;font-size: 150%; font-family: cursive;}
section{padding: 10px 50px 20px}
.red{display: flex;justify-content: space-around;align-self: center;}
footer{ float: left;width: 100%;display: flex;justify-content: space-around; font-size: 150%;flex-wrap: wrap;}



article{padding:10px 50px 20px;}
.salu{float: left;width: 72%; text-align: justify;font-size: 150%; font-family: cursive; padding:10px 50px 20px }
.salud{float: right;width: 72%; text-align: justify;font-size: 150%; font-family: cursive; padding:10px 50px 20px }
.im{float: right; width: 28%;}
.ima{float: left;width: 28%;}
.titu{text-align: center; font-family: sans-serif; font-size: 150%; font-family: 'Caveat Brush', cursive;}


.tabla{background-color: rgb(153, 209, 241);font-size: 150%; font-family: cursive; border: 1px #000000 solid}
.colu{border: 1px #000000 solid; justify-content: center;}
.subtitulo{font-size: 200%; font-family: 'Kurale', serif; text-decoration: underline;}
.sa{width: 100%;text-align: justify;font-size: 150%; font-family: cursive; padding:10px 50px 20px }
